@import "tailwindcss";

@theme {
   --font-body: 'Work Sans', sans-serif;
   --font-heading: 'Libre Baskerville', serif;
   --font-mono: 'Roboto Mono', monospace;
   /************************* typography scale *************************/
   --font-size-heading-01: 3.815rem;
   --font-size-heading-02: 3.052rem;
   --font-size-heading-03: 2.441rem;
   --font-size-heading-04: 1.953rem;
   --font-size-heading-05: 1.563rem;
   --font-size-heading-06: 1.25rem;
   --font-size-paragraph: 1rem;
   --font-size-small: 0.8rem;
   /************************* font weight *************************/
   --font-weight-light: 300;
   --font-weight-normal: 400;
   --font-weight-medium: 600;
   --font-weight-semibold: 700;
   --font-weight-bold: 800;
   --font-weight-black: 900;
   /************************* colors *************************/
   /* primary colors */
   --color-blue-01-000: hsl(210.19, 100%, 98%);
   --color-blue-01-100: hsl(210.19, 94%, 95%);
   --color-blue-01-200: hsl(210.19, 90%, 90%);
   --color-blue-01-300: hsl(210.19, 86%, 85%);
   --color-blue-01-400: hsl(210.19, 82%, 80%);
   --color-blue-01-500: hsl(210.19, 76%, 70%);
   --color-blue-01-600: hsl(210.19, 70%, 40%);
   --color-blue-01-700: hsl(210.19, 65%, 30%);
   --color-blue-01-800: hsl(210.19, 60%, 20%);
   --color-blue-01-900: hsl(210.19, 50%, 12%);
   /* neutral colors */
   --color-neutral-000: hsl(210.19, 0%, 98%);
   --color-neutral-100: hsl(210.19, 0%, 88%);
   --color-neutral-200: hsl(210.19, 0%, 78%);
   --color-neutral-300: hsl(210.19, 0%, 68%);
   --color-neutral-400: hsl(210.19, 0%, 58%);
   --color-neutral-500: hsl(210.19, 0%, 48%);
   --color-neutral-600: hsl(210.19, 0%, 38%);
   --color-neutral-700: hsl(210.19, 0%, 28%);
   --color-neutral-800: hsl(210.19, 0%, 18%);
   --color-neutral-900: hsl(210.19, 0%, 10%);
   /* augmented colors */
   --color-augmented-000: hsl(210.19, 12%, 98%);
   --color-augmented-100: hsl(210.19, 12%, 88%);
   --color-augmented-200: hsl(210.19, 12%, 78%);
   --color-augmented-300: hsl(210.19, 15%, 68%);
   --color-augmented-400: hsl(210.19, 15%, 58%);
   --color-augmented-500: hsl(210.19, 15%, 48%);
   --color-augmented-600: hsl(210.19, 15%, 38%);
   --color-augmented-700: hsl(210.19, 20%, 28%);
   --color-augmented-800: hsl(210.19, 25%, 18%);
   --color-augmented-900: hsl(210.19, 30%, 10%);
   /************************* semantic colors *************************/
   /* semantic inform colors */
   --color-semantic-inform-400: hsl(215, 96%, 33%);
   --color-semantic-inform-300: hsl(215, 96%, 38%);
   --color-semantic-inform-200: hsl(215, 96%, 43%);
   --color-semantic-inform-100: hsl(215, 96%, 48%);
   /* semantic success colors */
   --color-semantic-success-400: hsl(100, 96%, 33%);
   --color-semantic-success-300: hsl(100, 96%, 38%);
   --color-semantic-success-200: hsl(100, 96%, 43%);
   --color-semantic-success-100: hsl(100, 96%, 48%);
   /* semantic warn colors */
   --color-semantic-warn-400: hsl(44.94, 96%, 50%);
   --color-semantic-warn-300: hsl(44.94, 96%, 55%);
   --color-semantic-warn-200: hsl(44.94, 96%, 60%);
   --color-semantic-warn-100: hsl(44.94, 96%, 65%);
   /* semantic extreme warn colors */
   --color-semantic-extreme-warn-400: hsl(28.47, 96%, 50%);
   --color-semantic-extreme-warn-300: hsl(28.47, 96%, 55%);
   --color-semantic-extreme-warn-200: hsl(28.47, 96%, 60%);
   --color-semantic-extreme-warn-100: hsl(28.47, 96%, 65%);
   /* semantic alert colors */
   --color-semantic-alert-400: hsl(0, 96%, 33%);
   --color-semantic-alert-300: hsl(0, 96%, 38%);
   --color-semantic-alert-200: hsl(0, 96%, 43%);
   --color-semantic-alert-100: hsl(0, 96%, 48%);


   --ease-basic-01: cubic-bezier(0.26, 0.1, 0.27, 1.55);
   --ease-basic-02: cubic-bezier(0.17, 0.67, 0.83, 0.67);
   --ease: cubic-bezier(0.19, 0.08, 0.46, 0.99);
   --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
   --ease-in: cubic-bezier(0.33, 0.02, 0.84, 0.75);
   --ease-out: cubic-bezier(0.05, 0.21, 0.66, 0.98);
   --ease-in-out: cubic-bezier(0.38, 0, 0.57, 0.99);
   --ease-linear: cubic-bezier(0.19, 0.08, 0.84, 0.75);
   --ease-smooth: cubic-bezier(0.1, 0.7, 0.6, 0.9);
   --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
   --ease-snappy-01: cubic-bezier(0.5, 0, 0.4, 0.98);
   --ease-snappy-02: cubic-bezier(.17, .67, .83, .67);

   --radius-000: 1px;
   --radius-100: 2px;
   --radius-200: 3px;
   --radius-300: 5px;
   --radius-400: 8px;
   --radius-500: 13px;
   --radius-600: 21px;
   --radius-700: 34px;
   --radius-800: 55px;
   --radius-900: 50%;

   --breakpoint-xxs: 20rem;   /*320px */
   --breakpoint-xs: 30rem;   /*480px */
   --breakpoint-sm: 40rem;   /*640px */
   --breakpoint-md: 48rem;   /*768px */
   --breakpoint-lg: 64rem;   /*1024px;*/
   --breakpoint-xl: 80rem;   /*1280px;*/
   --breakpoint-2xl: 96rem;  /*1536px;*/
   --breakpoint-3xl: 120rem; /*1920px;*/


}

@layer base {
   /*===============================================================
             Website Resets
    ==================================================================*/
   *,
   *::after,
   *::before {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
   }

   *::-moz-focus-inner {
      border: 0;
   }

   *:focus {
      outline: none;
   }

   html {
      scroll-behavior: smooth;
   }

   /*===============================================================
          Typography Scale - 1.250 - Major Third
   ==================================================================*/
   h1, h2, h3, h4, h5, h6 {
      font-family: 'Libre Baskerville', serif;
      font-weight: 700;
      text-rendering: optimizeLegibility;
   }

   h1 {
      font-size: 3.815rem;
   }

   h2 {
      font-size: 3.052rem;
   }

   h3 {
      font-size: 2.441rem;
   }

   h4 {
      font-size: 1.953rem;
   }

   h5 {
      font-size: 1.563rem;
   }

   h6 {
      font-size: 1.25rem;
   }

   p, small {
      font-family: 'Work Sans', sans-serif;
      text-rendering: optimizeLegibility;
   }

   p {
      font-size: 1rem;
   }

   small {
      font-size: 0.8rem;
   }

   img {
      width: 100%;
      height: auto;
   }
   ul {
      list-style: none;
   }

   a {
      text-decoration: none;
      cursor: pointer;
      opacity: 0.75;
   }

   a:hover {
      cursor: pointer;
      opacity: 1;
   }

   /*===============================================================
          Scrollbar Styles
==================================================================*/
   /* width */
   ::-webkit-scrollbar {
      visibility: hidden;
      width: 3px;
      height: 5px;
      background-color: transparent;

   }

   /* track */
   ::-webkit-scrollbar-track {
      margin-left: 1px;
      /*box-shadow: inset 0 0 5px var(--color-blue-01-200);*/
      border-radius: 3px;
   }

   /* handle */
   ::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: var(--radius-200);
      width: 3px;
      height: 8px;
      /*box-shadow: inset 0 0 5px var(--color-blue-01-200);*/
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.1, 0.7, 0.6, 0.9);
      opacity: 0.75;
   }

   /* handle on hover */
   ::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-blue-01-600);
      cursor: pointer;
   }

   /*===============================================================
          ::placeholder styles
   ==================================================================*/
   ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-weight: var(--font-weight-normal);
      color: var(--color-augmented-700);
      opacity: 0.5;
   }
   ::-moz-placeholder { /* Firefox 19+ */
      font-weight: var(--font-weight-normal);
      color: var(--color-augmented-700);
      opacity: 0.5;
   }
   :-ms-input-placeholder { /* IE 10+ */
      font-weight: var(--font-weight-normal);
      color: var(--color-augmented-700);
      opacity: 0.5;
   }
   :-moz-placeholder { /* Firefox 18- */
      font-weight: var(--font-weight-normal);
      color: var(--color-augmented-700);
      opacity: 0.5;
   }
}